<footer class = 'footer wrap pale'>
  <p style="vertical-align:middle;"><a style="color: black;" href = 'http://beian.miit.gov.cn'>鄂ICP备20003010号-1</a>&nbsp;&nbsp;<img style="padding:0;margin:0;vertical-align:middle;display:inline-block;float: none;" src="https://img-1256541035.cos.ap-shanghai.myqcloud.com/imgs/beiantubiao.png"/><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42090202000341" style="color: black;" >&nbsp;鄂公网安备 42090202000341号</a></p>
  <p>&copy;&nbsp;<span class = 'year'></span>&nbsp;{{ .Site.Title }}</p>
</footer>
{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src = '{{ $scripts.Permalink }}'></script>
